.product-card {
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
}
.icon{
  width: 150px;
  height: 150px;
}
.card-content{
  display: flex;
 justify-content: center;
}
.card-action{
  text-align: right;
}
.input-quantity {
  width: 150px;
}
