<div id="banner">
    <img id="main_img" src="../../../assets/images/pexels-matthias-zomer-339621.jpg">
    <div class="centered">
        <h1>My Volunteer Group</h1>
        <h3>How it began</h3>
    </div>
</div>

<div class="page">
    <h2>My story</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor. Maecenas volutpat blandit aliquam etiam. 
        Vitae purus faucibus ornare suspendisse sed nisi lacus. Ultricies tristique nulla aliquet enim tortor at auctor 
        urna. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Aenean sed adipiscing diam donec adipiscing 
        tristique risus nec. Eget sit amet tellus cras adipiscing. Dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla facilisi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Risus pretium quam vulputate dignissim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Gravida cum sociis natoque penatibus et magnis.
    </p>
    <h2>Actions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor. Maecenas volutpat blandit aliquam etiam. Vitae purus faucibus ornare suspendisse sed nisi lacus. Ultricies tristique nulla aliquet enim tortor at auctor urna. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Eget sit amet tellus cras adipiscing. Dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla facilisi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Risus pretium quam vulputate dignissim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Gravida cum sociis natoque penatibus et magnis.

    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor. Maecenas volutpat blandit aliquam etiam. Vitae purus faucibus ornare suspendisse sed nisi lacus. Ultricies tristique nulla aliquet enim tortor at auctor urna. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Eget sit amet tellus cras adipiscing. Dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla facilisi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Risus pretium quam vulputate dignissim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Gravida cum sociis natoque penatibus et magnis.

    </p>
</div>