<mat-toolbar color="primary">
  <div class="toolbar" layout-align="center center">
    <a mat-button routerLink="/"><mat-icon>apps</mat-icon> My Volunteer App</a>
    <a mat-button routerLink="/who-we-are"><mat-icon>face</mat-icon> Who We Are</a>
    <a mat-button routerLink="/buy-from-us"><mat-icon>shopping_cart</mat-icon> Buy From Us</a>
    <a mat-button routerLink="/what-we-did"><mat-icon>star</mat-icon> What We Did</a>
    <span flex></span>
    <app-shopping-cart class="pull-right" routerLink="/checkout"></app-shopping-cart>
  </div>
    

  </mat-toolbar>