<mat-vertical-stepper>
    <mat-step label="Korean School (01/10/2019-Current)">
        <img class="stepper_img" src="../../../assets/images/pexels-belle-co-1000445.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor. Maecenas volutpat blandit aliquam etiam. Vitae purus faucibus ornare suspendisse sed nisi lacus. Ultricies tristique nulla aliquet enim tortor at auctor urna. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Eget sit amet tellus cras adipiscing. Dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla facilisi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Risus pretium quam vulputate dignissim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Gravida cum sociis natoque penatibus et magnis.

        </p>
    </mat-step>
    <mat-step label="Supply for Covid (05/21/2020-Current)">
        <img class="stepper_img" src="../../../assets/images/pexels-pixabay-45842.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor. Maecenas volutpat blandit aliquam etiam. Vitae purus faucibus ornare suspendisse sed nisi lacus. Ultricies tristique nulla aliquet enim tortor at auctor urna. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Eget sit amet tellus cras adipiscing. Dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla facilisi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Risus pretium quam vulputate dignissim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Gravida cum sociis natoque penatibus et magnis.

        </p>
    </mat-step>
    <mat-step label="Christian mission in Uganda (6/19/2018-06/25/2018)">
        <img class="stepper_img" src="../../../assets/images/pexels-leah-kelley-325521.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor. Maecenas volutpat blandit aliquam etiam. Vitae purus faucibus ornare suspendisse sed nisi lacus. Ultricies tristique nulla aliquet enim tortor at auctor urna. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Eget sit amet tellus cras adipiscing. Dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla facilisi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Risus pretium quam vulputate dignissim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Gravida cum sociis natoque penatibus et magnis.

        </p>
    </mat-step>
</mat-vertical-stepper>