::ng-deep .mat-vertical-stepper-content { 
    visibility: visible !important; 
    height: 100% !important; 
}

.stepper_img {
  width: 450px;
}

#p-1 {
  margin-left: 1%;
  margin-right: 1%;
}
#step-1 {
  display: flex;
}

#img-1 {
  width: 700px;
}